[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-cors = "*"
python-dotenv = "*"
flask-bcrypt = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
ipdb = "*"
